{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column is-6 is-offset-3">
            {% if user.is_authenticated %}
            <h5 class="title is-5">You are already logged in as {{ user.email }}</h5>
            {% else %}
            <h1 class="title">Log In</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="button">Log In</button>

                {% for message in messages %}
                <div class="notification {{ message.tags }}">
                    <a class="delete" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
                {% endfor %}
            </form>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}