{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column is-4 is-offset-4">
            <h1 class="title">Log In</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="button">Log In</button>

                {% for message in messages %}
                <div class="notification {{ message.tags }}">
                    <a class="delete" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
</section>
{% endblock %}