{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column is-4 is-offset-4">
    <h1 class="title">Reset Your Password</h1>
    <form method="POST" class="">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="field">
            <button type="submit" class="button">Send password reset link</button>
        </div>

        {% for message in messages %}
        <div class="notification {{ message.tags }}">
            <a class="delete" href="#" data-dismiss="alert">×</a>
            {{ message }}
        </div>
        {% endfor %}
    </form>
</section>
{% endblock %}