{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="columns">
    <div class="column is-4 is-offset-4">
        <h1 class="title">Change Password</h1>
        <form method="POST" class="">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="button">Save</button>

            {% for message in messages %}

            <div class="notification">
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
            </div>

            {% endfor %}
        </form>
    </div>
</div>

{% endblock %}