{% extends "base.html" %}

{% block title %}Add Product{% endblock %}

{% block content %}
<script src="/static/js/product_tracker.js"></script>

<section class="section add-product">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <h1 class="title">Add Product For Price Tracking</h1>
            <p>Paste the URL of a product you wish to track below:</p>
            <form id="form-add-product" action="/products/add" method="POST">

                {% csrf_token %}
                <div class="field is-grouped">
                    <div class="control is-expanded is-one-third">
                        <input class="input" type="text" id="input-new-url" name="new_url" placeholder="Enter/paste product URL here">
                    </div>

                    <div class="control">
                        <button type="submit" class="button add-new-product" id="add-new-product">Add</button>
                    </div>
                </div>


                {% for message in messages %}
                <div class="notification {{ message.tags }}">
                    <a class="delete" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
                {% endfor %}

            </form>
        </div>
    </div>
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <p>Supported shops include: {{supported_shops}}</p>
        </div>
    </div>
</section>

{% endblock content %}