{% load render_table from django_tables2 %}
{% load static %}

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div style="text-align: center;">
        <img class="center" src="{% static 'img/logo_small.PNG'%}" alt="priceless app logo">
    </div>
    <div style="max-width: 70%; margin: 30px auto 0;">
        {% if name %}
        <p style="font-size: 20px;">Hi {{ name }},</p>
        {% else %}
        <p>Hi,</p>
        {% endif %}

        {% if num_products_on_sale > 0 %}
        <p style="font-size: 20px;">{{ intro }}</p>

        {% render_table products_table %}
        {% else %}
        <p style="font-size: 20px;">None of your products are on sale at the moment.</p>
        {% endif %}
    </div>

    <div style="max-width: 70%; margin: 30px auto 0;">
        <p style="font-size: 18px;">Need to update which products to track? <a href=""><button style="padding: 5px; font-size: 18px;">Go to products list</button></a></p>
    </div>

    <div style="margin-top: 50px; background-color: #EEEEEE; padding: 20px; text-align: center;">
        <p style="font-size: 18px;">Want to change how you receive these emails?</p>
        <p style="font-size: 18px; margin-top: -10px">You can <a href="{% url 'settings' %}">update your preferences</a> or <a href="{{unsubscribe_link}}">unsubscribe from all emails.</a></p>

    </div>
</body>
</html>