{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% load static %}
{% load render_table from django_tables2 %}

{% block title %}Tracked Products{% endblock %}

{% block content %}

<script src="{% static 'js/product_tracker.js' %}"></script>

<section class="section summary">
  <h1 class="title has-text-centered">Your Products</h1>

  <div class="level">
    <div class="level-item">
      <p class="subtitle is-5">
        <strong><span class="num-products">{{ products | length }}</span></strong> total products
      </p>
    </div>
    <div class="level-item">
      <p class="subtitle is-5">
        <strong><span id="num-products-on-sale">{{ on_sale_products | length }}</span></strong> on sale right now
      </p>
    </div>
    <div class="level-item">
      <div>
        <a href="/products/refreshallforuser" id="refresh-all-products" class="button is-light is-info is-outlined">Refresh Price For All Products</a>
        <p id="updating-products-label" class="is-hidden"><strong>Updating products: <span id="completed_count"></span>/<span id="num-of-products"></span> done</strong></p>
        <progress id="updating-products-progress-bar" class="progress is-small is-primary is-hidden" max="100" value="0"></progress>
        {% if request.GET.refreshtime %}
        <p id="update-time-taken">Updates finished in {{ request.GET.refreshtime }} seconds</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="section filter">

  <button id="product-filter-toggle" class="button is-info is-outlined">Filter (<span class="num-products">{{filter.qs|length}}</span>) <i class="fa fa-solid fa-angle-down fa-fw"></i></button>

  <form method="get" id="product-filter-form" class="is-hidden">
    <div class="columns">
      <div class="column is-half">
        <div class="field ">
          {{ filter.form.name | as_crispy_field}}
        </div>
        <div class="field">
          {{ filter.form.on_sale | as_crispy_field}}
        </div>
        <div class="field">
          {{ filter.form.shop | as_crispy_field}}
        </div>
      </div>

      <div class="column">
        <label for="{{filter.form.current_price__gt.id_for_label}}" class="label">Min Price $</label>
        <div class="field has-addons">
          <p class="control">
            <span class="button is-static">$</span>
          </p>
          <div class="control">
            <input type="number" value="{{ filter.form.current_price__gt.value }}" name="{{ filter.form.current_price__gt.html_name }}" class="input numberinput" id="{{filter.form.current_price__gt.id_for_label}}">
          </div>

        </div>

        <label for="{{filter.form.current_price__lt.id_for_label}}" class="label">Max Price $</label>
        <div class="field has-addons">
          <p class="control">
            <span class="button is-static">$</span>
          </p>
          <div class="control">
            <input type="number" value="{{ filter.form.current_price__lt.value }}" name="{{ filter.form.current_price__lt.html_name }}" class="input" id="{{filter.form.current_price__lt.id_for_label}}">
          </div>
        </div>

      </div>
      <div class="column">
        <label for="{{filter.form.savings_percentage__gt.id_for_label}}" class="label">Min Savings %</label>
        <div class="field has-addons">
          <div class="control">
            <input type="number" value="{{ filter.form.savings_percentage__gt.value }}" name="{{ filter.form.savings_percentage__gt.html_name }}" class="input" id="{{filter.form.savings_percentage__gt.id_for_label}}">
          </div>
          <p class="control">
            <span class="button is-static">%</span>
          </p>
        </div>

        <label for="{{filter.form.savings_percentage__lt.id_for_label}}" class="label">Max Savings %</label>
        <div class="field has-addons">
          <div class="control">
            <input type="number" value="{{ filter.form.savings_percentage__lt.value }}" name="{{ filter.form.savings_percentage__lt.html_name }}" class="input" id="{{filter.form.savings_percentage__lt.id_for_label}}">
          </div>
          <p class="control">
            <span class="button is-static">%</span>
          </p>
        </div>

        <label for="{{filter.form.savings_dollars__gt.id_for_label}}" class="label">Min Savings $</label>
        <div class="field has-addons">
          <p class="control">
            <span class="button is-static">$</span>
          </p>
          <div class="control">
            <input type="number" value="{{ filter.form.savings_dollars__gt.value }}" name="{{ filter.form.savings_dollars__gt.html_name }}" class="input" id="{{filter.form.savings_dollars__gt.id_for_label}}">
          </div>
        </div>

        <label for="{{filter.form.savings_dollars__lt.id_for_label}}" class="label">Max Savings $</label>
        <div class="field has-addons">
          <p class="control">
            <span class="button is-static">$</span>
          </p>
          <div class="control">
            <input type="number" value="{{ filter.form.savings_dollars__lt.value }}" name="{{ filter.form.savings_dollars__lt.html_name }}" class="input" id="{{filter.form.savings_dollars__lt.id_for_label}}">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-grouped is-grouped-multiline">
      <p class="control">
        <input type="submit" value="Filter" class="button is-info" id="filter-submit-btn">
      </p>
      <p class="control">
        <input class="button" value="Reset" id="filter-reset-btn">
      </p>

    </div>
  </form>
</section>


<section class="section products-table">
  {% render_table product_table %}

  <div id="modal-js-update-product-url" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content">
      <div class="box">
        <h3 class="title is-3">Update URL of product</h3>
        <form id="update-product-url" action="/product/update-url" method="POST">
          {% csrf_token %}
          <div class="columns">
            <div class="field column">
              <input type="text" class="input control" placeholder="url of the product" name="updated_url" id="updated_url">
            </div>
          </div>

          <div class="columns">
            <div class="field column">
              <button type="button" id="update-url-button" class="button is-medium is-info is-light update-url-button is-fullwidth">Update URL</button>
            </div>
            <div class="field column">
              <button type="button" class="is-fullwidth button is-medium is-light modal-close2">Close</button>
            </div>
          </div>

          <input type="hidden" name="product_id" id="product_id">
        </form>
      </div>
    </div>

    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</section>

{% comment %}
<section class="section products">
  {% for product in page_obj %}
  {% include "product_tracker/single_product.html" %}
  <hr>
  {% endfor %}

  <div class="pagination center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="button is-light" href="?{% param_replace page=1 %}">&laquo; first</a>
            <a class="button is-light" href="?{% param_replace page=page_obj.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="button is-light" class="outline secondary" href="?{% param_replace page=page_obj.next_page_number %}">next</a>
            <a class="button is-light" class="outline secondary" href="?{% param_replace page=page_obj.paginator.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</section> {% endcomment %}



{% endblock content %}