{% extends "base.html" %}

{% block title %}Tracked Products{% endblock %}

{% block content %}



<section class="section summary">
  <h1 class="title has-text-centered">Your Products</h1>

  <div class="level">
    <div class="level-item">
      <p class="subtitle is-5">
        <strong><span id="num-of-products">{{ products | length }}</span></strong> total products
      </p>
    </div>
    <div class="level-item">
      <p class="subtitle is-5">
        <strong>{{ on_sale_products | length }}</strong> on sale right now
      </p>
    </div>
    <div class="level-item">
      <div>
        <a href="/products/refreshall" id="refresh-all-products" class="button is-light is-info">Refresh Price For All Products</a>
        <p id="updating-products-label" class="is-hidden"><strong>Updating products. This may take about <span id="update-all-products-approx-time"></span> seconds.</strong></p>
        <progress id="updating-products-progress-bar" class="progress is-small is-primary is-hidden" max="100"></progress>
      </div>
    </div>
  </div>
</section>

<section class="section">
  {% for product in page_obj %}
  <div class="product">
    <div class="columns">
      <div class="column">
        {% if product.savings_dollars %}
        <a href="{{product.url}}"><strong class="on-sale">{{ product.name }} <span class="tag is-warning">on sale</span></strong></a>
        {% else %}
        <a href="{{product.url}}"><strong>{{ product.name }}</strong></a>
        {% endif %}
      </div>
    </div>
    <div class="columns is-vcentered">
      <div class="column">
        {% if product.image_url %}
        <a href="{{product.url}}">
          <img class="product-thumbnail" src={{ product.image_url }}>
        </a>
        {% endif %}
      </div>
      <div class="column">
        <div>Price: ${{ product.current_price }}</div>
        <div>{% if product.savings_dollars %}Was: ${{ product.was_price }}{% endif %}</div>
        <div>Savings: ${{ product.savings_dollars }} ({{ product.savings_percentage }}%)</div>
        <div>Last Checked: {{ product.last_price_check }}</div>
      </div>
      <div class="column">
      </div>
      <div class="column is-flex is-justify-content-space-around">
        <button class="button">Pause Tracking</button>
        <button class="remove-product button">Remove</button>
      </div>

    </div>

    <form id="product-url-update" action="/product/update" method="POST">
      {% csrf_token %}
      <div class="columns">
        <div class="column is-three-quarters">
          <input type="text" class="input" name="updated_url" value={{ product.url }}>
        </div>
        <div class="column">
          <input type="submit" class="button  is-fullwidth" value="Update URL / Check Price">
        </div>
        <input type="hidden" name="product_pk" value={{ product.id }}>
      </div>
    </form>

    <div class="price-details grid">

      <div></div>

    </div>
  </div>

  <hr>
  {% endfor %}

  <div class="pagination center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="outline secondary" role="button" href="?page=1">&laquo; first</a>
            <a class="outline secondary" role="button" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a role="button" class="outline secondary" href="?page={{ page_obj.next_page_number }}">next</a>
            <a role="button" class="outline secondary" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</section>



{% endblock content %}