{% extends "base.html" %}

{% block title %}Tracked Products{% endblock %}

{% block content %}

<section class="add-product">
  <h1>Add Product</h1>
  <form id="product-url-update" action="/products/add" method="POST">
    {% csrf_token %}
    <input type="text" name="new_url" placeholder="Enter product URL here">
    <input type="submit" role="button" value="Add">
  </form>
</section>

<section class="tracked-products">
  <h1>Tracked Products ({{ products | length }})</h1>

  {% for product in page_obj %}
  <div class="product">
    <div class="product-row-one">
      {% if product.image_url %}
      <img class="product-thumbnail" src={{ product.image_url }}>
      {% endif %}
      {% if product.savings_dollars %}
      <strong class="on-sale">{{ product.name }} (on sale)</strong>
      {% else %}
      <strong>{{ product.name }}</strong>
      {% endif %}
    </div>

    <form id="product-url-update" action="/product/update" method="POST">
      {% csrf_token %}
      <input type="text" name="updated_url" value={{ product.url }}>
      <input type="submit" role="button" value="Update URL">
      <input type="hidden" name="product_pk" value={{ product.id }}>
    </form>

    <div class="price-details grid">
      <div>Price: ${{ product.current_price }}</div>
      <div>{% if product.savings_dollars %}Was: ${{ product.was_price }}{% endif %}</div>
      <div>Savings: ${{ product.savings_dollars }} ({{ product.savings_percentage }}%)</div>
      <div>Last Checked: {{ product.last_price_check }}</div>
      <div></div>
      <div><button class="remove-product outline">Remove</button></div>
    </div>
  </div>

  <hr>
  {% endfor %}

  <div class="pagination center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="outline secondary" role="button" href="?page=1">&laquo; first</a>
            <a class="outline secondary" role="button" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a role="button" class="outline secondary" href="?page={{ page_obj.next_page_number }}">next</a>
            <a role="button" class="outline secondary" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</section>



{% endblock content %}