{% load render_table from django_tables2 %}

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {% if name %}
    <p>Hi {{ name }},</p>
    {% else %}
    <p>Hi,</p>
    {% endif %}

    {% if num_products_on_sale > 0 %}
    <p>{{ intro }}</p>

    {% render_table products_table %}
    {% else %}
    <p>None of your products are on sale at the moment.</p>
    {% endif %}

</body>
</html>