nav {
    margin: 0 15px;
}


.remove-product {
    color: red;
    border-color: red;
}

.remove-product:hover {
    color: white;
    background-color: red;;
}

.product-thumbnail {
    margin: 3px;
}

.on-sale {
    color: orangered;
}

.center {
    text-align: center;
}

.width-small {
    max-width: 400px;
}

.pagination {
    margin-top: 40px;
}

#updating-products-label {
    margin-top: 10px;
}

hr {
    margin: 40px auto 20px;
}