nav {
    margin: 0 15px;
}

.product-thumbnail {
    margin: 3px;
}

.on-sale {
    color: orangered;
}

.center {
    text-align: center;
}

.width-small {
    max-width: 400px;
}

.pagination {
    margin-top: 40px;
}

#refresh-all-products {
    margin-bottom: 10px;
}

hr {
    margin: 40px auto 20px;
}