{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create an Account{% endblock %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column is-4 is-offset-4">
            <h1 class="title">Create an Account</h1>
            <form method="POST" class="">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="field">
                    <button type="submit" class="button is-info is-fullwidth">Register</button>
                </div>
            </form>
            {% for message in messages %}
            <div class="notification {{ message.tags }}">
                <a class="delete" href="#" data-dismiss="alert">×</a>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}