<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> {% endcomment %}
    <script src="https://kit.fontawesome.com/fa590c3c6f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Priceless - {% block title %}Get Notified When Your Beloved Products Go On Sale{% endblock title %}</title>
  </head>
  <body>

      {% comment %} <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>

            <a class="navbar-item">
              Documentation
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Jobs
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav> {% endcomment %}
      <nav class="navbar">
        <ul>
            <li><strong>Priceless</strong></li>
        </ul>
        <ul>
            <li><a href="/products">Tracker</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="/accounts/logout" role="button">Logout ({{ user.email }})</a></li>
            {% else %}
            <li><a href="/accounts/login" role="button">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    <main class="container">

        {% block content %}{% endblock content %}
    </main>
  </body>
</html>